body {
  
}

* {
    Box-sizing: border-box; 
   }

.container {
    background-color: #E5E5E5;
    width: 414px;
    margin: 0px auto;
    height: 1060px;
    position: relative;
}

.cabecalho {
    margin: 0px auto;
    width: 414px;
    height: 92px;
    background-color: #CF2B2B ;
    position: fixed;
    top:0px;
    z-index: 1; 
}
.pedidos {
    position: absolute;
    top: 0px;
    width: 414px;
    
 }

h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 21px;
}
 .cabecalho > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 21px;
 }

 .pratos {
    margin-top: 113px;
    
    margin-left: 19px;
}

.titulo {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-bottom: 17px;
    
 }

 .itens-prato {
    display: flex;
    overflow-x: scroll;
    
 }
.icone1 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #32B72F;
}
.icone2 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #32B72F;
}
.icone3 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #32B72F;
}
.icone4 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #32B72F;
}
.icone5 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #32B72F;
}
.icone6 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #32B72F;
}
.icone7 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #32B72F;
}
.icone8 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #32B72F;
}
.icone9 {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #32B72F;
}

 .item1 {
    width: 172px;
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 16px;
    position: relative;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-color: #E5E5E5;

    
 }
 .item4 {
    width: 172px;
    background-color: #FFFFFF;
    border-radius: 9px;
    border-color: #E5E5E5; ;
    margin-right: 16px;
    position: relative;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-color: #E5E5E5;

 }
 .item7 {
    width: 172px;
    background-color: #FFFFFF;
    border-radius: 9px;
    border-color: #E5E5E5; ;
    margin-right: 16px;
    position: relative;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-color: #E5E5E5;

 }

 .item-titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin: 0px 0px 4px 15px;
 }
 .item-descricao {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin: 0px 0px 0px 15px;
 }
 .preco {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 8px 0px 13px 14px;
 }

 .item2 {
    width: 172px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-color: #E5E5E5;
    
}
.item5 {
    width: 172px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-color: #E5E5E5;

}
.item8 {
    width: 172px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-color: #E5E5E5;

}
.frango {
    width: 144px;
    height: 87px;
    margin: 18px 14px 8px 14px;
    border-radius: 4px;
}
.item3 {
    width: 172px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-color: #E5E5E5;
    
}
.item6 {
    width: 172px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-color: #E5E5E5;

    
}
.item9 {
    width: 172px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-color: #E5E5E5;

    
}
.bebidas {
    margin-top: 27px;
    margin-left: 19px;
}
.sobremesa {
    margin-top: 27px;
    margin-left: 19px; 
}
.rodape {
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0px;
    width: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.finalizar-pedido {
    width: 364px;
    height: 61px;
    left: 25px;
    bottom: 16px;
    background: #CBCBCB;
    border-radius: 50px;
    margin: 15px auto;
    
}
.finalizar-pedido > h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    width: 220px;
    text-align: center;
    margin:8px auto;
    align-items: center;
   
}
.desligar1 {
    display: none;
}
.desligar2 {
    display: none;
}
.desligar3 {
    display: none;
}
.desligar4 {
    display: none;
}
.desligar5 {
    display: none;
}
.desligar6 {
    display: none;
}
.desligar7 {
    display: none;
}
.desligar8 {
    display: none;
}
.desligar9 {
    display: none;
}
.verde {
    background-color: #32B72F;
}
.texto-cor {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}
.bordas {
    border: solid;
    border-color:#32B72F;
}

.revisando-pedido{
    width: 414px;
    height: 1060px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
    position: absolute;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}
.confirmacao {
    width: 377px;
    height: 353px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.confirmacao > h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-top: 21px;
    color: #FFFFFF;
}
.escolha1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}
.escolha1 > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}
.escolha2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}
.escolha2 > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}


.escolhas{
    margin-top: 28px;
}
.botao-confimacao {
    width: 329px;
    height: 52px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    
   
    
}
.texto-botao-confirmacao{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.018em;
    color: #50D074;
}
.botao-cancelar {
    background: #50D074;
    border:none;
}
.texto-botao-cancelar {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.botoes {
    display: block;
    justify-content: center;
    align-items: center;
}
.margem1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}
.margem2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modificando-display {
    display: flex;

}